@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* styles.css 파일에 CSS 추가 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  word-break: keep-all;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

li a {
  align-items: center;
  text-decoration: none;
  color: #1a1a1a;
}

.search-section {
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}


.search-input {
  flex: 1;
  border: 0.1px solid #aaaaaa;
  border-radius: 15px 0 0 15px;
  padding: 10px;
  font-family: 'TheJamsil5Bold';
}


.search-input:focus {
  border: 0.1px solid #aaaaaa;
}

.search-btn {
  background-color: #0056b3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-family: 'TheJamsil5Bold';
}

.search-btn:hover {
  background-color: #104680;
}

.news-lists {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 그리드 컬럼 설정 (원하는 크기로 조절) */
  grid-gap: 20px; /* 그리드 아이템 간격 (원하는 간격으로 조절) */
}

.news {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  z-index: 10;
}

.news:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: scale(1.1);
}

.news-thumbnail img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  height: auto;
}

.news-author {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 16px;
}

.news-title {
  font-size: 20px;
  font-family: 'TheJamsil5Bold';
  font-weight: bold;
  margin: 10px 0;
}

.news-description {
  font-size: 14px;
  display: none;
  margin: 0;
}

.news-date {
  font-family: 'TheJamsil5Bold';
  font-size: 14px;
}

.noResult {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 137, 137);
}

.noResult {
  margin: 0 auto;
  margin-top: 15rem;
  
}

.loader {
  display: none;
  --clr: #264c66;
  /* color of spining  */
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  margin-top: 15rem;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
}

.loader:before {
  z-index: 1000;
  animation: spin 1s infinite;
}

.loader:after {
  border: 10px solid #ccc;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.moveTopBtn {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background: #0056b3;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: all 0.3s ease-in-out ;
  z-index: 2000;
}

.moveTopBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.moveTopBtn p {
  font-family: 'TheJamsil5Bold';
}

/* Dark Mode 스타일 추가 (선택 사항) */
body.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}


@media (min-width: 830px) {
  .search-form{
    width: 60%;
    margin: 0 auto;
  }
  .search-input {
    font-size: 18px;
  }
}

@media (min-width: 560px) and (max-width: 829px) {
  .search-form{
    width: 60%;
    margin: 0 auto;
  }
  .news-title {
    font-size: 24px;
  }
  .search-input {
    font-size: 18px;
  }
  .news:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 559px) {
  .news-title {
    font-size: 33px;
  }
  .news-date{
    font-size: 18px;
  }
  .search-input {
    font-size: 18px;
  }
  .search-btn {
    font-size: 14px;
  }
  .news:hover {
    transform: scale(1.02);
  }
}